services:
  backend:
    build:
      context: ./backend
    expose:
      - "10000"
    networks:
      - app-network
    command: uvicorn main:app --host 0.0.0.0 --port 10000
    restart: always

  frontend:
    build:
      context: ./frontend
    ports:
      - "80:80"
      - "443:443"
    networks:
      - app-network
    depends_on:
      - backend
    volumes:
      # Mapeia o arquivo do host para o container (permite editar sem rebuildar)
      - ./frontend/nginx.conf:/etc/nginx/conf.d/default.conf
      # Volumes para o Certbot
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    restart: always

  certbot:
    image: certbot/certbot
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    # Tenta renovar a cada 12h
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"

networks:
  app-network:
    driver: bridge