footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(32, 42, 67, 1);
    padding:5%;
    color:#FEFEFE
}

.ColunaDireita{
    text-align: right;
}


footer li{
    list-style: none;
    font-size: 12px;
}

footer p{
    font-size: 12px;
}

footer .RedesSociais{
    display: flex;
    align-items: center;
}

footer img{
    height: 40px;
    width: auto;
    margin-right: 5px;
}

